# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***

+ Jupyter Notebook supports different languages
+ Jupyter Notebooks are used in Data Science for recording experiments and projects
+ Jupyter Notebook allows a Data Scientist to recordÂ their data experiments and results that others can reuse

#### Some of the commonly used libraries used by Data Scientists include:

1. Scikit-learn
2. PyTorch
3. TenserFlow
4. NumPy

#### Some of the commonly used libraries used by Data Scientists include:

1. TenserFlow
2. SciPy
3. Pandas
4. Scrapy
5. Matplotlib


 
 
 
 | Data Science Tools |
 | ------------- |
 | Rstudio |
 | Zeppelin Notebook |
 | Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [22]:
# This will convert 200 minutes to hours by diving by 60

x= 200
y = 60
z= x/y
print(z)

3.3333333333333335

## Author

***Chinedu Nkemdilim***